In [2]:
%pylab
%matplotlib inline
from importlib import reload
import pandas as pd
from pandas import Series, DataFrame

Using matplotlib backend: Qt4Agg
Populating the interactive namespace from numpy and matplotlib

In [3]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three'],
                    'C' : np.random.randn(8),
                    'D' : np.random.randn(8)})
df

     A      B         C         D
0  foo    one  1.016101  0.628935
1  bar    one -1.245531  0.640931
2  foo    two  1.020596 -0.857093
3  bar  three  2.229381  0.100841
4  foo    two -1.354522 -0.574512
5  bar    two  0.682444  0.600527
6  foo    one  0.226179 -0.614353
7  foo  three -0.451601  2.144324

In [5]:
grouped = df.groupby('A')
grouped = df.groupby(['A', 'B'])

In [21]:
# split the df by columns
def get_letter_type(letter):
    if letter.lower() in 'aeiou':
        return 'vowel'
    else:
        return 'consonant'
    
grouped = df.groupby(get_letter_type, axis=1)

In [19]:
get_letter_type(df.columns[0])

'vowel'